.Home {
  text-align: center;
  background: url("https://img.guildedcdn.com/ContentMediaGenericFiles/3aa5be258660df8749f4560e40fb1af2-Full.webp?w=1977&h=660"), linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%) no-repeat fixed;
  background-position: center top;
  padding: 0 25px;
  height: 190vh;
}

.text-top {
  color: #c64f3d;
  text-shadow: 1px 1px 2px #000000;
}

CardActionArea {
  overflow: hidden;
}

CardMedia:hover {
  transform: scale(1.2);
}